@import url("https://fonts.googleapis.com/css?family=Varela");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  background-color: #1f1f1f;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin: 10px auto 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Varela";
}

.navbar .logo {
  margin-right: auto;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Varela";
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #e05100;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  column-count: 3;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
}

.imgl {
  margin-left: 20px;
  width: 10%;
}

@media screen and (max-width: 600px) {
  footer .column {
    width: 100%;
  }
}

.tag1 {
  font-family: "Varela";
}

.bi {
  margin: 10px;
  margin-top: 0;
}

p b {
  font-family: "Varela";
}

p {
  font-family: "Roboto";
}
