@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Amita");
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url("https://fonts.googleapis.com/css?family=Courgette");

* {
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  padding: 70px 100px;
  margin: auto;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#title {
  text-align: center;
  color: rgba(255, 255, 255);
  /* font-family: 'Lobster'; */
  font-family: "Amita";
  font-size: 30px;
  text-shadow: 0 0 3px #ffffff;
}

.sideH {
  color: #1da1f2;
  font-family: "Audiowide";
}

.row {
  text-align: center;
  display: flex;
  padding: 10px 20px;
}

.column {
  flex: 50%;
}

.rightSide {
  background-color: #494646;
  border-radius: 5px;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.leftSide {
  background-color: #272a34;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Styling for the form elements*/

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.sendMsg {
  margin: 30px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #e05100;
  border-radius: 20px;
  font-family: "Audiowide";
}

.sendMsg:hover {
  background-color: #e05100;
  color: #fff;
  border-radius: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: transparent;
  width: 75%;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #767276;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #767276;
  margin-top: 8px;
  resize: none;
  color: #fff;
  box-sizing: border-box;
  width: 75%;
  padding: 10px;
  line-height: 110%;
  font-size: 16px;
} */

.location {
  display: inline-flex;
  color: white;
}

#image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.bIcon {
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  margin: 5px;
}

#joinMsg {
  font-family: "Aclonica";
  background: -webkit-linear-gradient(#c2e59c, #64b3f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  margin: 0 0;
}

.fa-instagram {
  background: -webkit-linear-gradient(
    #f58529,
    #feda77,
    #dd2a7b,
    #8134af,
    #515bd4
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-facebook {
  color: #4267b2;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-at {
  font-weight: 900;
  color: #64b3f4;
}

.fa-globe {
  color: #4caf50;
}

.socialIcons {
  margin: 10px;
  padding-bottom: 20px;
}
