* {
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.container {
  text-align: center;
  align-items: center;
}

.row {
  text-align: center;
  display: flex;
  padding: 10px 20px;
  column-gap: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  flex: 33.33%;
  padding: 10px;
}
